name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    uses: AlexMan123456/github-actions/.github/workflows/pnpm-ci.yml@78be199abfba7efedbc8a151b98a58963038cad7 # v4.0.4
    with:
      run-tests: false
