name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    uses: AlexMan123456/github-actions/.github/workflows/pnpm-ci.yml@e8cb7e795bc27e0bd323135e17832c5f3e36f38a # v2.3.3
    with:
      run-tests: false
