name: Commit a version change
on:
  push:
    branches: ["main"]

permissions:
  contents: write
  pull-requests: write

jobs:
  commit-version-change:
    if: ${{ github.repository == 'AlexMan123456/components' }}
    uses: AlexMan123456/github-actions/.github/workflows/commit-version-change.yml@c016c13a6227b8a31b5ddd866063bb5362873e70 # v3.0.1
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
