name: Publish to NPM Registry

permissions:
  id-token: write

on:
  push:
    branches:
      - main

jobs:
  publish:
    if: ${{ github.repository == 'AlexMan123456/components' }}
    uses: AlexMan123456/github-actions/.github/workflows/npm-registry-publish.yml@2f3f3cc452f2d80ef075085355400d83dfe0d42f # v2.8.3
