name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
  - cron: 0 21 * * 5

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    env:
      HUSKY: 0
    
    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: AlexMan123456/github-actions/update-dependencies@0c3beda77a1ba6fb17f0d2972ce313812dea774d # v2.0.1
      with:
        PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
